.header-menu{
  text-align: center;
}
.text-center-align{
  text-align: center;
}
.has-error{
  color:red;
}
.my-container{
  padding:30px;
  font-size: 14px;
}
.contact-info-btn{
  margin-left:35%;
  margin-top:20px;
}
.contact-btn{
  margin-top:20px;
}
.width_set{
  width: 100%;
}

.header-text{
  padding-left:500px;
  padding-bottom: 18px;
}
.resetBtn{
  float: right;
  margin-right: 647px;
  margin-top: -34px
}
.my-container-fortable{
  padding:14px;
  font-size: 14px;
}
.updateBtn{
  float: right;
  margin-right: 776px;
  margin-top: 1px;
}
.saved-status{
  color:green;
  padding-left:500px;
}
.data-edit{
  color:blue;
}
